# Maven/Gradle build
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Wrapper
!.mvn/wrapper/maven-wrapper.jar

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
application.properties
*.bak

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Config és sensitive fájlok
*.properties
*.yml
*.env
*.bak

# Dokumentáció
HELP.md