@charset "UTF-8";
.container {
	background-color: #FFFFFF;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block;
}
.row.blockDisplay {
	display: block;
}

.table {
	width: 100%;
	overflow: scroll;
}
.columnRow {
	justify-content: center;
	margin-top: 30px;
	
}
.table_header {
	line-height: 40px;
	text-align: center;
	justify-content: center;
	margin-top: 10px;
	color: hsl(189, 53%, 27%);
	
}
.columns{
	display: block;
	font-family: "Source Sans Pro";
	color: #020202;
	font-size: 16px;
	padding: 10px;
	background-color: #E6E6E6;
	border-radius: 10px;
	border: thin solid #7A7A7A;
	
}
.columns-input{
	margin-top: 5px;
	margin-bottom: 10px;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: #5C5C5C;
    border: thin solid #7A7A7A;
    background-color: #E6E6E6;
	}
.columns-button {
	display: block;
    padding: 10px;
    font-size: 16px;
    border: thin solid #9DADAE;
    border-radius: 10px;
    background-color: cadetblue;
	width: 150px;
	}
.columns-button-del{
	display: block;
    padding: 10px;
    font-size: 16px;
    border: thin solid #9DADAE;
    border-radius: 10px;
    background-color: cadetblue;
	width: 150px;
}
.columns-button-update{
	padding: 10px;
    font-size: 16px;
    border: thin solid #9DADAE;
    border-radius: 10px;
    background-color: cadetblue;
	width: 150px;
	display: none;

}
.columns_popup{
	position: absolute;
	font-family: "Source Sans Pro";
	color: #020202;
	font-size: 16px;
	padding: 10px;
	background-color: #E6E6E6;
	border-radius: 10px;
	border: thin solid #7A7A7A;
	display: none;
	pointer-events: none;
	z-index: 1000;
}
.columns-update{
	display: none;
	font-family: "Source Sans Pro";
	color: #020202;
	font-size: 16px;
	padding: 10px;
	background-color: #E6E6E6;
	border-radius: 10px;
	border: thin solid #7A7A7A;

}
.alert-message{
	display: block;
	justify-content: center;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	font-size: 16px;
	padding: 10px;
	color: green;
	border: thin solid #7A7A7A;
	background-color: #E6E6E6;
	width: fit-content;
}
.alert-error{
	display: block;
	justify-content: center;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	font-size: 16px;
	padding: 10px;
	color: green;
	border: thin solid #7A7A7A;
	background-color: #E6E6E6;
	width: fit-content;
}
.search{
	float: right;
}
.search-box{
	font-size:14px;
	font-family: "Source Sans Pro";
	color: #5C5C5C;
    border: thin solid #7A7A7A;
    background-color: #E6E6E6;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	}
.search-button{
	font-size: 13px;
	font-family: "Source Sans Pro";
	background-color: cadetblue;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.wish-description{
	
	padding: 15px;
	font-family: "Source Sans Pro";
	color: #020202;
}

.introduce-header{
	font-family: "Source Sans Pro";
	color: #838383;
	text-align: center;
}

.primary_header {
	width: 100%;
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 20px;
	clear: left;
	border-bottom: 3px solid #020202;
}
.secondary_header {
	overflow: auto;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
	background-image: url("../pictures/fehér háttér modern2.jpg");
	background-size: cover;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	clear: inherit;
}
.container .secondary_header ul {
	margin-top: 1px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	list-style: circle;
	float: right;
	margin-right: 15;
	margin-top: 0px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-weight: normal;
	color: #838383;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 15%;
	transition: all 0.3s linear;

}
.secondary_header ul li:hover {
	color: #47486B;
	cursor: pointer;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.left_article {
	background-color: #FFFFFF;
	width: 60%;
	float: left;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-bottom: 15px;
}
.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 10%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article div {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #B3B3B3;
}
.right_article {
	margin-right: 30px;
	width: 30%;
	margin-top: 40px;
	float: right;
	height: 300;
		
}

.footer {
	background-color: #717070;
}
.title {
	font-weight: bold;
	font-style: italic;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	text-align: center;
	color: #1E1E1E;
	letter-spacing: 2px;
}
.copyright {
	text-align: center;
	background-color: #717070;
	margin-top: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.social .social_icon img {
	width: 80%;
}
}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

}
@media (min-width: 769px) and (max-width: 1000px) {

}

@media (min-width: 1001px) {
}

.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
.columns .thumbnail_align {
	text-align: center;
}
.social {
	text-align: end;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #FFFFFF;
	clear: both;
	overflow:auto;
}
.social_icon {
	width: 33%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

.date_right {
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 50%;
	float: right;
	text-align: right;
	margin-bottom: 10px;
	margin-top: 10px;
	
}

.time_left {
	font-family: Georgia, 'Times New Roman', Times, serif;
	float: left;
	width: 50%;
	margin-bottom: 10px;
	margin-top: 10px;
		
}
.login{
	margin-left: 40px;
}
.register{
	margin-left: 40px;
}

.form-signin .form-signin-headin{
	
	margin-bottom: 10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-control{
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    height: auto;
    color: #5C5C5C;
    border: thin solid #7A7A7A;
    background-color: #E6E6E6;
	width: 250px;
	}
.form-button {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    width: 250px;
    border: thin solid #9DADAE;
    border-radius: 10px;
    background-color: cadetblue;
    margin-top: 10px;
	}
.authenticationBar {
	display: inline-flex;
	float: right;
	margin-top: -15px;
	margin-bottom: 10px;
	font-family: Georgia, 'Times New Roman', Times, serif
}

	
