<!doctype html>
<html lang="hu" layout:decorate="~{layouts/main}">
<head>
<title>Simple Theme</title>
<link href="../static/css/mainStile.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <header>
<div class="primary_header">
      <h1 class="title"> Üdvözöllek bemutatkozó honlapomon!</h1>
    </div>
  </header>
    
	
  <section layout:fragment="introduce">
    <article class="left_article">
      <h3>A honlap bemutatása</h3>
      <p>Ezt a honlapot azért hoztam létre, hogy az elkészült és a jövőben elkészülő projektjeimnek és munkáimnak olyan felületet biztosítson, amit az irántam érdeklődők meg tudnak tekinteni.</p>
		<br>
		<p>Remélem a látottak elnyerik tetszésed! </p>
      
    </article>
    <aside class="right_article"><img src="../static/pictures/fekete háttér fogaskerékkel2.jpg" alt="Hiba a kép betöltése közben" width="" height="300"  /> </aside>
  </section>

  </div>


</div>
</body>
</html>
