<!doctype html>
<html lang="hu" layout:decorate="~{layouts/main}">
<head>
<title>Gubola Ádám weboldala</title>
<link href="../static/css/mainStile.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <header>
<div class="primary_header">
      <h1 class="title"> Üdvözöllek bemutatkozó honlapomon!</h1>
    </div>
  </header>
    
	
  <section layout:fragment="index">
    <article class="left_article">
      <h3>A honlap bemutatása</h3>
      <div>
      <p>Ezt a honlapot azért hoztam létre, hogy az elkészült és a jövőben elkészülő projektjeimnek olyan felületet biztosítson, amit az irántam érdeklődők meg tudnak tekinteni.</p>
	    <p>A weboldalon regisztráció nélkül meg tudod tekinteni a főoldal, a regisztráció, az aktiváció és a bemutatkozás oldalakat.</p>
	    <p>A regisztráció során az adataid egy PostgreSQL adatbázisban lesznek eltárolva, aminek segítségéval a későbbiekben be tudsz jelentkezni.
	  	A bejelentkezés után jelenleg a kíváságlista alkalmazást tudod elérni, ami szintén adatbázisban fogja tárolni az általad megadott adatokat.</p>
	    <p>A jövőben tovább szeretném bővíteni a weboldalt, hogy bemutathassam az általam tanultakat. Amennyiben ötleted vagy észrevételed van, kérlek jelezd az 
	  	<a href="mailto:adamgubola@gmail.com?subjedct=Fejlesztési javaslat">adamgubola@gmail.com</a> email címen</p>
		  <p>Remélem a látottak elnyerik tetszésed! </p>
      </div>

    </article>
    <aside class="right_article"><img src="../static/pictures/fekete háttér fogaskerékkel2.jpg" alt="Hiba a kép betöltése közben" width="" height="300"  /> </aside>
  </section>

</div>
</body>
</html>
