<!doctype html>
<html lang="hu" layout:decorate="~{layouts/main}">
<head>

<title>Gubola Ádám weboldala</title>
<link href="../static/css/mainStile.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <header>
<div class="primary_header">
      <h1 class="title"> Üdvözöllek bemutatkozó honlapomon!</h1>
    </div>
    <nav class="secondary_header" id="menu">
      <ul class="headLinks">
        <li class="headLinks">Bemutatkozás</li>
        <li>Belépés</li>
        <li>Regisztráció</li>
      </ul>
	</nav>
	
		
	<div layout:fragment="register" class="register">
		
		<form name="registration" th:action="@{/reg}" th:object="${userDto}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Kérlek Regisztrálj</h2>
			<div>
			<input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control" placeholder="Vezetéknév"/>
			<p th:if="${#fields.hasErrors('firstName')}" class="alert alert-danger" th:errors="*{firstName}"></p>
			</div>
			<div>
			<input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control" placeholder="Keresztnév"/>
			<p th:if="${#fields.hasErrors('lastName')}" class="alert alert-danger" th:errors="*{lastName}"></p>
			</div>
			<div>
			<input type="text" id="email" name="email" th:field="*{email}" class="form-control" placeholder="Email cím"/>
			<p th:if="${#fields.hasErrors('email')}" class="alert alert-danger" th:errors="*{email}"></p>
			</div>
			<div>
			<input type="text" id="confirmEmail" name="confirmEmail" th:field="*{confirmEmail}" class="form-control" placeholder="Megerősítő email cím"/>
			<p th:if="${#fields.hasErrors('confirmEmail')}" class="alert alert-danger" th:errors="*{confirmEmail}"></p>
			</div>
			<div>
			<input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="Jelszó"/>
			<p th:if="${#fields.hasErrors('password')}" class="alert alert-danger" th:errors="*{password}"></p>
			</div>
			<div>
			<input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" class="form-control" placeholder="Megerősítő jelszó"/>
			<p th:if="${#fields.hasErrors('confirmPassword')}" class="alert alert-danger" th:errors="*{confirmPassword}"></p>
			</div>

			<button class="form-button" type="submit"> Regisztráció </button>

		</form>
		

	</div>

  
  <div class="social">
    <p class="social_icon"><img src="../static/pictures/profession.png" width="100" alt="Hiba a kép megjelenítése során" class="thumbnail"/></p>
    <p class="social_icon"><img src="../static/pictures/indeed.jpg" width="100" alt="Hiba a kép megjelenítése során" class="thumbnail"/></p>
    <p class="social_icon"><img src="../static/pictures/facebook.png" width="100" alt="Hiba a kép megjelenítése során" class="thumbnail"/></p>
  </div>
  <footer class="secondary_header footer">
    <div class="copyright">&copy;2024 - <strong>Gubola Ádám honlapja</strong></div>
  </footer>
</div>
</body>
</html>
